@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }

.parent {
    border: 20px red ridge;

    display: flex;

    justify-content: space-evenly;
}

.child {
    
    background: linear-gradient(to left, red, green);

    flex-shrink: 5;

    order: 5;
}

.otherChild {
    width: 100px;
    height: 200px;
    
    background: linear-gradient(to left, red,blue);

    order: 1;
}

.child1 {
    width: 100px;
    height: 100px;
    
    background: linear-gradient(to left, red, green);

    order: 2;
}

.otherChild1 {
    width: 100px;
    height: 200px;
    
    background: linear-gradient(to left, red,blue);
    order: 4;
}
.child2 {
    width: 100px;
    height: 100px;
    
    background: linear-gradient(to left, red, green);

    order: 3;
}

.otherChild2 {
    width: 100px;
    height: 200px;
    
    background: linear-gradient(to left, red,blue);
    order: 6;
}